//colors

$color-white: #ffffff;
$color-dark-gray: #7e7e7e;
$color-light-gray: #eeeeee;
$color-black: #000000;
$color-transparent-white: rgba(255, 255, 255, 0.6);

$color-primary: #03a9f4;
$color-secondary: #9c27b0;
$color-danger: #f44336;

//dimensions

$max-form-width: 20rem;
$max-width: 90vh;
